dotenv==0.9.9
Flask==3.1.0
flatbuffers==25.2.10
fonttools==4.56.0
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-api-python-client==2.161.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.4
googleapis-common-protos==1.68.0
httpx==0.28.1
Jinja2==3.1.5
joblib==1.4.2
mediapipe==0.10.21
numpy==1.26.4
opencv-python==4.11.0.86
pillow==11.1.0
python-dotenv==1.0.1
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.2
gunicorn